:root {
    --fieldset-start-width: 320px;
    --fieldset-min-width: 270px;
    --input-min-width: 9em;
    --weathercock-grid-min-width: 110px;
    --detail-card-width: 275px;
    --detail-card-height: 380px;
}

body, input, label, select, table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

body {
    text-align: center;
    min-width: var(--fieldset-min-width);
}

header {
    text-align: center;
    margin: 1em;
    padding: 1em;
}

h1 {
    margin: 0;
}

.sub-title {
    font-family: "Trade Winds", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin: 4px;
    padding: 0;
}

.attribute {
    margin: 0.5em;
}

#data-entry-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: calc(var(--detail-card-width) + 1em);
    margin: 0 auto;
    overflow: hidden;
    transition: all 4s;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

#detail-card-container {
    display: flex;
    position: relative;
    /* top: 0; */
    /* left: 0; */
    /* left: calc(calc(-2 * var(--detail-card-width) - 1.5em)); */
    flex-direction: row;
    justify-content: center;
    column-gap: 1em;
    margin: 0 0.5em;
    transition: left 0.4s;
}

.detail-card-one {
    left: 0;
}

.detail-card-two {
    left: -291px;
}

.detail-card-three {
    left: -582px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

/*#fieldset_location, #fieldset-times, #fieldset-recovery, #fieldset-altitudes, #fieldset-draw-options {*/
/*
.detail-fieldset {
    width: 100px;
    min-width: calc(var(--fieldset-min-width) - 1rem);
    padding: 1rem 0.5rem;
}
*/
.detail-card {
    width: var(--detail-card-width);
    height: var(--detail-card-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-card-title {
    text-decoration: underline;
}

.detail-card-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.detail-card-btn-container-one {
  justify-content: end;
}

.btn-prev, .btn-next {
    width: 110px;
}

.btn-prev {
    align-self: start;
}

.btn-next {
    align-self: end;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.radio_label {
    min-width: 0;
    padding-right: 0;
}

input {
    min-width: var(--input-min-width);
    width: var(--input-min-width);
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

.kml-option-select {
    min-width: var(--input-min-width);
    width: var(--input-min-width);
}

input:focus {
    border-color: #000;
}

.waiver_input {
    min-width: var(--input-min-width);
}

input[type='radio'], input[type='checkbox'] {
    min-width: initial;
    width: initial;
}

.data-input-grid-container {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-items: end;
    row-gap: 1em;
    column-gap: 0.5em;
    margin: 0.5em auto;
    margin: 0 auto;
}

.deployment-type-container {
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.deployment-radio-container {
    display: flex;
    align-items: start;
}

.checkbox_label {
    text-align: left;
    padding-right: 0;
}

.recovery_input {
    min-width: 5em;
    width: 5em;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

caption {
    padding: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#wind-altitude-display {
    display: block;
    place-items: center;
    max-width: 90%;
    height: fit-content;
    overflow-x: auto;
    margin: 0 auto;
}

#wind-altitude-table {
    margin: 0 auto;
}

.wind-barb-cell {
    padding: 0;
    vertical-align: middle;
}

.wind-barb-container {
    display: grid;
    place-items: center;
    height: 2em;
    width: 2em;
    margin: 0 auto;
    overflow: hidden;
}

.wind-barb {
    height: 90%;
    width: 90%;
}

#wind-barb-draw-test {
    height: 4em;
    width: 4em;
}

.wind-barb-10 {
    transform: rotate(10deg);
}

.wind-barb-20 {
    transform: rotate(20deg);
}

.wind-barb-30 {
    transform: rotate(30deg);
}

.wind-barb-40 {
    transform: rotate(40deg);
}

.wind-barb-50 {
    transform: rotate(50deg);
}

.wind-barb-60 {
    transform: rotate(60deg);
}

.wind-barb-70 {
    transform: rotate(70deg);
}

.wind-barb-80 {
    transform: rotate(80deg);
}

.wind-barb-90 {
    transform: rotate(90deg);
}

.wind-barb-100 {
    transform: rotate(100deg);
}

.wind-barb-110 {
    transform: rotate(110deg);
}

.wind-barb-120 {
    transform: rotate(120deg);
}

.wind-barb-130 {
    transform: rotate(130deg);
}

.wind-barb-140 {
    transform: rotate(140deg);
}

.wind-barb-150 {
    transform: rotate(150deg);
}

.wind-barb-160 {
    transform: rotate(160deg);
}

.wind-barb-170 {
    transform: rotate(170deg);
}

.wind-barb-180 {
    transform: rotate(180deg);
}

.wind-barb-190 {
    transform: rotate(190deg);
}

.wind-barb-200 {
    transform: rotate(200deg);
}

.wind-barb-210 {
    transform: rotate(210deg);
}

.wind-barb-220 {
    transform: rotate(220deg);
}

.wind-barb-230 {
    transform: rotate(230deg);
}

.wind-barb-240 {
    transform: rotate(240deg);
}

.wind-barb-250 {
    transform: rotate(250deg);
}

.wind-barb-260 {
    transform: rotate(260deg);
}

.wind-barb-270 {
    transform: rotate(270deg);
}

.wind-barb-280 {
    transform: rotate(280deg);
}

.wind-barb-290 {
    transform: rotate(290deg);
}

.wind-barb-300 {
    transform: rotate(300deg);
}

.wind-barb-310 {
    transform: rotate(310deg);
}

.wind-barb-320 {
    transform: rotate(320deg);
}

.wind-barb-330 {
    transform: rotate(330deg);
}

.wind-barb-340 {
    transform: rotate(340deg);
}

.wind-barb-350 {
    transform: rotate(350deg);
}
/*
@media (width < 560px) {
    #data-entry-section {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    header {
        margin: 0.5em;
        padding: 0.5em;
    }

    h1 {
        margin: 0 auto;
        font-size: 1.25em;
    }

    h2 {
        margin: 0 auto;
        font-size: 1em;
    }

    .attribute {
        margin: 0.25em;
        font-size: 0.7em;
    }

    .topnav a {
        padding: 0.5rem 1rem;
    }
}

@media (width <= 400px) {
    .topnav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
*/
